@import "compass/reset";

// Fonts
@font-face { font-family: HelveticaCondensed; src: url(../vendor/fonts/HelveticaCondensed.otf); }
@font-face { font-family: HelveticaLight; src: url(../vendor/fonts/HelveticaLight.ttf); }
@font-face { font-family: HelveticaRoman; src: url(../vendor/fonts/HelveticaRoman.ttf); }
@font-face { font-family: HelveticaBold; src: url(../vendor/fonts/HelveticaBold.ttf); }
@font-face { font-family: PortraitCondensed; src: url(../vendor/fonts/PortraitCondensed.ttc); }

// Media queries breakpoints
$s-tablet  : 768px;
$l-tablet  : 1024px;
$s-desktop : 1280px;
$m-desktop : 1440px;
$l-desktop : 1680px;

// Color palette
$light : #ffffff;
$dark  : #000000;
$blue  : #baddf1;
$rose  : #ef636e;

// Special colors
$bodyBg       : #3b3b3b;
$formBg       : #fdf3f3;
$socialBorder : #b4b4b4;
$zoneTitle    : #1d1d1d;

$mobileDarkTitle : #0e0e0e;
$darkTitle       : #232323;

// Mixins
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin mobile-title {
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

@mixin mobile-footer-title {
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}

@mixin title {
  font-family: HelveticaCondensed;
  font-size: 90px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

// Reusable classes
.hidden {
  visibility: hidden;
}

// Styles
body {
  background-color: $bodyBg;
}

.container {
  background-color: $blue;

  &-header {
    @include center;
    height: 100vh;

    background-image: url('../vendor/images/bg_photo.jpg');
    background-position-x: -383px;

    &-title {
      height: 100%;
      width: 100%;
      background-image: url('../vendor/images/logo.svg');
      background-size: 75vw;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-overview {
    max-width: 250px;
    margin: 62px auto 10px auto;

    &-text {
      p {
        font-family: HelveticaBold;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 25px;

        &:nth-child(2) {
          margin-top: 17px;
        }
      }

      &-person {
        font-family: PortraitCondensed;
      }
    }

    &-portrait {
      margin-top: 38px;

      &-fake {
        display: none
      }

      &-movable {
        &-image {
          display: block;
          height: 350px;
          width: 250px;
          margin: 0 auto;

          background-blend-mode: multiply;
          background-color: $blue;
          background-image: url('../vendor/images/designer.jpg');
          background-position-x: -42px;
          background-size: 130%;
        }

        &-description {
          margin-top: 15px;

          font-family: HelveticaLight;
          font-size: 14px;
          letter-spacing: 1.4px;
          line-height: 20px;
          text-align: center;
        }
      }
    }
  }

  &-collection {
    padding: 120px 0;

    &-title {
      width: 250px;
      margin: 0 auto 32px auto;

      @include mobile-title;
      color: $mobileDarkTitle;
    }

    &-images {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-image {
        height: 270px;
        width: 200px;
        margin: 17px 0;

        &:nth-child(n+7) {
          display: none;
        }
      }
    }
  }

  &-muses {
    height: 100vh;
    background-color: $rose;
    overflow: hidden;

    &-title {
      @include mobile-title;
      color: $mobileDarkTitle;
    }
  }

  &-follow {
    @include center;
    height: 100vh;

    background-image: url('../vendor/images/bg_photo.jpg');
    background-position-x: -220px;

    &-title {
      @include mobile-title;
      color: $light;
    }

    &-link {
      @include center;
      height: 95px;
      width: 250px;
      margin: 11px auto 0 auto;

      box-sizing: border-box;
      border: 7px solid $rose;

      @include mobile-title;
      color: $rose;

      &:hover {
        background-color: $light;
      }
    }
  }

  &-stores {
    padding: 70px 0;

    text-align: center;
    text-transform: uppercase;

    &-title {
      width: 250px;
      margin: 0 auto 9px auto;

      @include mobile-title;
      color: $mobileDarkTitle;
    }

    &-zones {
      &-zone {
        margin-top: 40px;

        &-title {
          color: $zoneTitle;
          font-family: HelveticaBold;
          font-size: 20px;
          letter-spacing: .8px;
          line-height: 24px;
        }

        h6 {
          margin-top: 18px;

          font-family: HelveticaBold;
          font-size: 15px;
          letter-spacing: 1px;
          line-height: 18px;
        }

        p {
          font-family: HelveticaLight;
          font-size: 15px;
          letter-spacing: 1px;
          line-height: 18px;
        }

        a {
          display: block;

          color: $dark;
          font-family: HelveticaLight;
          font-size: 15px;
          letter-spacing: 1px;
          line-height: 20px;

          &:nth-child(1) {
            margin-top: 18px;
          }
        }
      }
    }
  }

  &-footer {
    padding: 38px 0 20px 0;
    background-image: url('../vendor/images/bg_photo.jpg');

    color: $light;
    text-align: center;
    text-transform: uppercase;

    &-tcopy {
      display: none;
    }

    &-contacts {
      width: 250px;
      margin: 0 auto;

      &-title {
        margin-bottom: 8px;

        @include mobile-footer-title;
      }

      a, p {
        color: $light;
        font-family: HelveticaLight;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
      }
    }

    &-subscribe {
      margin-top: 63px;

      &-title {
        width: 225px;
        margin: 0 auto 23px auto;

        @include mobile-footer-title;
      }

      &-form {
        box-sizing: border-box;
        height: 60px;
        width: 277px;
        margin: 0 auto;

        background-color: $formBg;
        overflow: hidden;

        &-input {
          box-sizing: border-box;
          width: 158px;
          padding: 22px 0 22px 22px;

          background-color: rgba(253,243,243,0);
          border: none;

          color: $dark;
          font-family: HelveticaLight;
          font-size: 14px;

          &:focus {
            outline: none;
          }

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $dark;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $dark;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $dark;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $dark;
          }
        }

        &-button {
          box-sizing: border-box;
          height: 60px;
          width: 115px;
          margin: 0;
          padding: 0;

          background-color: rgba(253,243,243,0);
          border: none;

          font-family: HelveticaBold;
          font-size: 16px;
          letter-spacing: .9px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &-follow {
      margin-top: 66px;

      &-title {
        @include mobile-footer-title;
      }

      &-blocks {
        width: 268px;
        margin: 13px auto 0 auto;

        display: flex;
        flex-wrap: wrap;

        &-block {
          @include center;

          box-sizing: border-box;
          height: 48px;
          width: 134px;

          border: 2px solid $socialBorder;

          font-family: HelveticaBold;
          font-size: 14px;
          letter-spacing: .9px;

          &:nth-child(2) {
            border-left: none;
          }

          &:nth-child(3) {
            border-top: none;
          }
        }
      }
    }

    &-copy {
      width: 225px;
      margin: 71px auto 0 auto;

      font-family: HelveticaBold;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 16px;

      opacity: .36;
    }
  }
}

@media screen and (min-width: $s-tablet) and (max-width: $s-desktop - 1px) {
  .container {
    &-header {
      background-position: center;
      background-size: cover;

      &-title {
        background-size: 60vw;
      }
    }

    &-overview {
      max-width: none;
      margin: 145px 125px 0 125px;

      &-text {
        p {
          font-family: HelveticaBold;
          font-size: 36px;
          letter-spacing: 2px;
          line-height: 42px;

          &:nth-child(2) {
            margin-top: 30px;
          }
        }
      }

      &-portrait {
        width: 360px;
        margin: 60px auto 0 auto;

        &-movable {
          &-image {
            height: 434px;
            width: 100%;

            background-blend-mode: normal;
            background-position: center;
            background-size: cover;
          }

          &-description {
            width: 200px;
            margin-top: 7px;

            font-size: 16px;
            letter-spacing: 1.6px;
            text-align: left;
          }
        }
      }
    }

    &-collection {
      padding-top: 199px;

      &-title {
        width: 100%;
        margin-bottom: 70px;
        color: $darkTitle;
        @include title;
      }

      &-images {
        flex-wrap: wrap;
        justify-content: space-between;

        height: 1040px;
        max-width: 860px;
        margin: 0 auto;

        &-image {
          &:nth-child(n+10) {
            display: inherit;
          }
        }
      }
    }

    &-muses {
      height: auto;
      padding: 87px 0 211px 0;

      &-title {
        color: $darkTitle;
        @include title;
      }
    }

    &-follow {
      height: auto;
      padding: 120px 0;

      background-position-x: 0px;

      &-title {
        @include title;
      }

      &-link {
        height: 140px;
        width: 388px;
        margin-top: 26px;

        @include title;
      }
    }

    &-stores {
      padding: 86px 125px 135px 125px;

      &-title {
        width: auto;
        margin-bottom: 44px;

        color: $darkTitle;
        @include title;
      }

      &-zones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-zone {
          width: 178px;
          margin-top: 60px;

          text-align: left;
        }

        &-fake {
          height: 0px;
          width: 178px;
          margin: 0px;
        }
      }
    }

    &-footer {
      padding: 28px 125px 100px 125px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      background-position-x: 0px;

      & > div {
        margin-top: 40px;
      }

      &-copy {
        display: none;
      }

      &-contacts {
        width: 260px;
        margin: 0;

        text-align: left;

        &-title {
          margin-bottom: 13px;
        }

        a {
          display: block;
        }
      }

      &-subscribe {
        width: 400px;

        &-title {
          width: auto;
          margin: 0 0 17px 0;

          text-align: left;
        }

        &-form {
          width: 100%;

          &-input {
            width: 280px;
          }
        }
      }

      &-tcopy {
        width: 260px;
        display: flex;
        align-items: flex-end;

        font-family: HelveticaBold;
        font-size: 12px;
        letter-spacing: .9px;
        line-height: 14px;

        opacity: .36;
      }

      &-follow {
        width: 400px;

        &-title {
          margin: 0 0 17px 0;

          text-align: left;
        }

        &-blocks {
          margin: 0;
          width: 100%;

          flex-wrap: nowrap;

          &-block {
            &:nth-child(3) {
              border-left: none;
              border-top: 2px solid $socialBorder;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $s-desktop) {
  .container {
    position: relative;
    background-color: rgba(0,0,0,0);

    &-animation {
      &-portrait {


        &-image {
          height: 434px;
          width: 360px;

          background-blend-mode: multiply;
          background-color: $blue;
          background-image: url('../vendor/images/designer.jpg');
          background-position: center;
          background-size: cover;
        }

        &-description {
          width: 200px;
          margin-top: 12px;

          font-family: HelveticaLight;
          font-size: 16px;
          letter-spacing: 1.6px;
          line-height: 20px;
          text-align: left;
        }
      }
    }

    &-video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -2;
      transform: translateX(-50%) translateY(-50%);
    }

    &-header {
      background: none;

      &-title {
        z-index: -1;
        position: fixed;
        background-size: 50vw;
      }
    }

    &-overview {
      z-index: 2;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 80%;
      max-width: none;
      margin: 100vh 0 0 20%;
      box-sizing: border-box;
      padding: 145px 70px 145px 145px;

      background-color: $blue;

      &-text {
        p {
          font-size: 36px;
          letter-spacing: 2px;
          line-height: 42px;

          &:nth-child(2) {
            margin-top: .1em;
          }
        }
      }

      &-portrait {
        margin: 0 0 0 110px;
        padding-top: 40%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-fake {
          height: 486px;
          width: 360px;
          background-color: rgba(0,0,0,.5);
          display: block;
          visibility: hidden;
        }

        &-movable {
          visibility: hidden;
          position: fixed;
          right: 0px;
          top: 50vh;
          transform: translateY(-50%);

          &-image {
            height: 434px;
            width: 360px;

            background-position: center;
            background-size: cover;
          }

          &-description {
            width: 200px;
            margin-top: 12px;

            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 20px;
            text-align: left;
          }
        }
      }
    }

    &-collection {
      padding: 165px 0;

      &-title {
        width: auto;
        margin-bottom: 84px;

        color: $blue;
        @include title;
      }

      &-images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 1136px;
        margin: 0 auto;

        &-image {
          margin: 57px 42px;
          &:nth-child(n) {
            display: inherit;
          }
        }
      }
    }

    &-muses {
      height: auto;
      padding: 100px 0 140px 0;

      &-title {
        color: $darkTitle;
        @include title;
      }

      &-slider {
        height: 65%;
        margin-top: 50px;
        position: relative;
        display: flex;
        align-items: center;

        & > img {
          filter: grayscale(100%);
        }
      }
    }

    &-follow {
      height: auto;
      padding: 225px 0 325px 0;

      display: flex;
      flex-direction: row;

      background: none;

      &-title {
        @include title;
      }

      &-link {
        height: 140px;
        width: 388px;

        margin: 0 0 0 48px;

        @include title;
      }
    }

    &-stores {
      box-sizing: border-box;
      width: 87%;
      margin-left: 13%;
      padding: 150px 165px 180px 120px;

      background-color: $blue;

      &-title {
        width: auto;
        margin: 0;

        color: $darkTitle;
        @include title;
      }

      &-zones {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        text-align: left;

        &-zone {
          margin: 0;
        }

        &-fake {
          display: none;
        }
      }
    }

    &-footer {
      max-width: 1110px;
      margin: 507px auto 0 auto;
      padding: 0 0 60px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background: none;

      &-contacts {
        margin: 0;

        text-align: left;

        &-title {
          margin-bottom: 13px;
        }

        a {
          display: block;
        }
      }

      &-subscribe {
        width: 370px;
        margin: 0;

        &-title {
          width: auto;
          margin: 0 0 17px 0;

          text-align: left;
        }

        &-form {
          width: 100%;

          &-input {
            width: 251px;
          }
        }
      }

      &-follow {
        margin: 0;

        &-title {
          margin: 0 0 17px 0;

          text-align: left;
        }
      }

      &-copy {
        width: auto;
        margin: 133px 0 0 0;

        font-size: 12px;
        letter-spacing: .9px;
      }
    }
  }
}

@media screen and (min-width: $s-desktop) and (max-width: $l-desktop - 1px) {
  .container {
    &-overview {
      padding: 100px 50px 100px 100px;

      &-portrait {
        margin: 0 0 0 50px;

        &-fake {
          height: 402px;
          width: 250px;
        }

        &-movable {
          &-image {
            height: 350px;
            width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $s-desktop) and (max-width: $m-desktop - 1px) {
  .container {
    &-overview {
      &-text {
        p {
          font-size: 32px;
          line-height: 1.25em;
          letter-spacing: 1.25px;

          &:nth-child(2) {
            margin-top: .1em;
          }
        }
      }

      &-portrait {
        padding-top: 50%;
      }
    }
  }
}

@media screen and (min-width: $m-desktop) and (max-width: $l-desktop - 1px) {
  .container {
    &-overview {
      &-portrait {
        padding-top: 47.5%;
      }
    }
  }
}
