/* line 5, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: HelveticaCondensed;
  src: url(../vendor/fonts/HelveticaCondensed.otf);
}
@font-face {
  font-family: HelveticaLight;
  src: url(../vendor/fonts/HelveticaLight.ttf);
}
@font-face {
  font-family: HelveticaRoman;
  src: url(../vendor/fonts/HelveticaRoman.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(../vendor/fonts/HelveticaBold.ttf);
}
@font-face {
  font-family: PortraitCondensed;
  src: url(../vendor/fonts/PortraitCondensed.ttc);
}
/* line 65, ../sass/styles.scss */
body {
  background-color: #3b3b3b;
}

/* line 69, ../sass/styles.scss */
.container {
  background-color: #baddf1;
}
/* line 72, ../sass/styles.scss */
.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../vendor/images/bg_photo.jpg");
  background-position-x: -383px;
}
/* line 79, ../sass/styles.scss */
.container-header-title {
  visibility: visible;
  height: 100%;
  width: 100%;
  background-image: url("../vendor/images/logo.svg");
  background-size: 75vw;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 90, ../sass/styles.scss */
.container-overview {
  max-width: 250px;
  margin: 62px auto 10px auto;
}
/* line 95, ../sass/styles.scss */
.container-overview-text p {
  font-family: HelveticaBold;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
}
/* line 101, ../sass/styles.scss */
.container-overview-text p:nth-child(2) {
  margin-top: 17px;
}
/* line 106, ../sass/styles.scss */
.container-overview-text-person {
  font-family: PortraitCondensed;
}
/* line 111, ../sass/styles.scss */
.container-overview-portrait {
  margin-top: 38px;
}
/* line 114, ../sass/styles.scss */
.container-overview-portrait-fake {
  display: none;
}
/* line 119, ../sass/styles.scss */
.container-overview-portrait-movable-image {
  display: block;
  height: 350px;
  width: 250px;
  margin: 0 auto;
  background-blend-mode: multiply;
  background-color: #baddf1;
  background-image: url("../vendor/images/designer.jpg");
  background-position-x: -42px;
  background-size: 130%;
}
/* line 132, ../sass/styles.scss */
.container-overview-portrait-movable-description {
  margin-top: 15px;
  font-family: HelveticaLight;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 20px;
  text-align: center;
}
/* line 145, ../sass/styles.scss */
.container-collection {
  padding: 120px 0;
}
/* line 148, ../sass/styles.scss */
.container-collection-title {
  width: 250px;
  margin: 0 auto 32px auto;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 156, ../sass/styles.scss */
.container-collection-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 161, ../sass/styles.scss */
.container-collection-images-image {
  height: 270px;
  width: 200px;
  margin: 17px 0;
}
/* line 166, ../sass/styles.scss */
.container-collection-images-image:nth-child(n+7) {
  display: none;
}
/* line 173, ../sass/styles.scss */
.container-muses {
  height: 100vh;
  background-color: #ef636e;
  overflow: hidden;
}
/* line 178, ../sass/styles.scss */
.container-muses-title {
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 184, ../sass/styles.scss */
.container-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../vendor/images/bg_photo.jpg");
  background-position-x: -220px;
}
/* line 191, ../sass/styles.scss */
.container-follow-title {
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 196, ../sass/styles.scss */
.container-follow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95px;
  width: 250px;
  margin: 11px auto 0 auto;
  box-sizing: border-box;
  border: 7px solid #ef636e;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #ef636e;
}
/* line 208, ../sass/styles.scss */
.container-follow-link:hover {
  background-color: #ffffff;
}
/* line 214, ../sass/styles.scss */
.container-stores {
  padding: 70px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 220, ../sass/styles.scss */
.container-stores-title {
  width: 250px;
  margin: 0 auto 9px auto;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 229, ../sass/styles.scss */
.container-stores-zones-zone {
  margin-top: 40px;
}
/* line 232, ../sass/styles.scss */
.container-stores-zones-zone-title {
  color: #1d1d1d;
  font-family: HelveticaBold;
  font-size: 20px;
  letter-spacing: .8px;
  line-height: 24px;
}
/* line 240, ../sass/styles.scss */
.container-stores-zones-zone h6 {
  margin-top: 18px;
  font-family: HelveticaBold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}
/* line 249, ../sass/styles.scss */
.container-stores-zones-zone p {
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}
/* line 256, ../sass/styles.scss */
.container-stores-zones-zone a {
  display: block;
  color: #000000;
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}
/* line 265, ../sass/styles.scss */
.container-stores-zones-zone a:nth-child(1) {
  margin-top: 18px;
}
/* line 273, ../sass/styles.scss */
.container-footer {
  padding: 38px 0 20px 0;
  background-image: url("../vendor/images/bg_photo.jpg");
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
/* line 281, ../sass/styles.scss */
.container-footer-tcopy {
  display: none;
}
/* line 285, ../sass/styles.scss */
.container-footer-contacts {
  width: 250px;
  margin: 0 auto;
}
/* line 289, ../sass/styles.scss */
.container-footer-contacts-title {
  margin-bottom: 8px;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 295, ../sass/styles.scss */
.container-footer-contacts a, .container-footer-contacts p {
  color: #ffffff;
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}
/* line 304, ../sass/styles.scss */
.container-footer-subscribe {
  margin-top: 63px;
}
/* line 307, ../sass/styles.scss */
.container-footer-subscribe-title {
  width: 225px;
  margin: 0 auto 23px auto;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 314, ../sass/styles.scss */
.container-footer-subscribe-form {
  box-sizing: border-box;
  height: 60px;
  width: 277px;
  margin: 0 auto;
  background-color: #fdf3f3;
  overflow: hidden;
}
/* line 323, ../sass/styles.scss */
.container-footer-subscribe-form-input {
  box-sizing: border-box;
  width: 158px;
  padding: 22px 0 22px 22px;
  background-color: rgba(253, 243, 243, 0);
  border: none;
  color: #000000;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 335, ../sass/styles.scss */
.container-footer-subscribe-form-input:focus {
  outline: none;
}
/* line 339, ../sass/styles.scss */
.container-footer-subscribe-form-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
}
/* line 342, ../sass/styles.scss */
.container-footer-subscribe-form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
/* line 345, ../sass/styles.scss */
.container-footer-subscribe-form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
/* line 348, ../sass/styles.scss */
.container-footer-subscribe-form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
/* line 353, ../sass/styles.scss */
.container-footer-subscribe-form-button {
  box-sizing: border-box;
  height: 60px;
  width: 115px;
  margin: 0;
  padding: 0;
  background-color: rgba(253, 243, 243, 0);
  border: none;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: .9px;
}
/* line 367, ../sass/styles.scss */
.container-footer-subscribe-form-button:focus {
  outline: none;
}
/* line 374, ../sass/styles.scss */
.container-footer-follow {
  margin-top: 66px;
}
/* line 377, ../sass/styles.scss */
.container-footer-follow-title {
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 381, ../sass/styles.scss */
.container-footer-follow-blocks {
  width: 268px;
  margin: 13px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* line 388, ../sass/styles.scss */
.container-footer-follow-blocks-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 48px;
  width: 134px;
  border: 2px solid #b4b4b4;
  font-family: HelveticaBold;
  font-size: 14px;
  letter-spacing: .9px;
}
/* line 401, ../sass/styles.scss */
.container-footer-follow-blocks-block:nth-child(2) {
  border-left: none;
}
/* line 405, ../sass/styles.scss */
.container-footer-follow-blocks-block:nth-child(3) {
  border-top: none;
}
/* line 412, ../sass/styles.scss */
.container-footer-copy {
  width: 225px;
  margin: 71px auto 0 auto;
  font-family: HelveticaBold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  opacity: .36;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* line 428, ../sass/styles.scss */
  .container-header {
    background-position: center;
    background-size: cover;
  }
  /* line 432, ../sass/styles.scss */
  .container-header-title {
    background-size: 60vw;
  }
  /* line 437, ../sass/styles.scss */
  .container-overview {
    max-width: none;
    margin: 145px 125px 0 125px;
  }
  /* line 442, ../sass/styles.scss */
  .container-overview-text p {
    font-family: HelveticaBold;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 42px;
  }
  /* line 448, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: 30px;
  }
  /* line 454, ../sass/styles.scss */
  .container-overview-portrait {
    width: 360px;
    margin: 60px auto 0 auto;
  }
  /* line 459, ../sass/styles.scss */
  .container-overview-portrait-movable-image {
    height: 434px;
    width: 100%;
    background-blend-mode: normal;
    background-position: center;
    background-size: cover;
  }
  /* line 468, ../sass/styles.scss */
  .container-overview-portrait-movable-description {
    width: 200px;
    margin-top: 7px;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: left;
  }
  /* line 480, ../sass/styles.scss */
  .container-collection {
    padding-top: 199px;
  }
  /* line 483, ../sass/styles.scss */
  .container-collection-title {
    width: 100%;
    margin-bottom: 70px;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 490, ../sass/styles.scss */
  .container-collection-images {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1040px;
    max-width: 860px;
    margin: 0 auto;
  }
  /* line 499, ../sass/styles.scss */
  .container-collection-images-image:nth-child(n+10) {
    display: inherit;
  }
  /* line 506, ../sass/styles.scss */
  .container-muses {
    height: auto;
    padding: 87px 0 211px 0;
  }
  /* line 510, ../sass/styles.scss */
  .container-muses-title {
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 516, ../sass/styles.scss */
  .container-follow {
    height: auto;
    padding: 120px 0;
    background-position-x: 0px;
  }
  /* line 522, ../sass/styles.scss */
  .container-follow-title {
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 526, ../sass/styles.scss */
  .container-follow-link {
    height: 140px;
    width: 388px;
    margin-top: 26px;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 535, ../sass/styles.scss */
  .container-stores {
    padding: 86px 125px 135px 125px;
  }
  /* line 538, ../sass/styles.scss */
  .container-stores-title {
    width: auto;
    margin-bottom: 44px;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 546, ../sass/styles.scss */
  .container-stores-zones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 552, ../sass/styles.scss */
  .container-stores-zones-zone {
    width: 178px;
    margin-top: 60px;
    text-align: left;
  }
  /* line 559, ../sass/styles.scss */
  .container-stores-zones-fake {
    height: 0px;
    width: 178px;
    margin: 0px;
  }
  /* line 567, ../sass/styles.scss */
  .container-footer {
    padding: 28px 125px 100px 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position-x: 0px;
  }
  /* line 577, ../sass/styles.scss */
  .container-footer > div {
    margin-top: 40px;
  }
  /* line 581, ../sass/styles.scss */
  .container-footer-copy {
    display: none;
  }
  /* line 585, ../sass/styles.scss */
  .container-footer-contacts {
    width: 260px;
    margin: 0;
    text-align: left;
  }
  /* line 591, ../sass/styles.scss */
  .container-footer-contacts-title {
    margin-bottom: 13px;
  }
  /* line 595, ../sass/styles.scss */
  .container-footer-contacts a {
    display: block;
  }
  /* line 600, ../sass/styles.scss */
  .container-footer-subscribe {
    width: 400px;
  }
  /* line 603, ../sass/styles.scss */
  .container-footer-subscribe-title {
    width: auto;
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 610, ../sass/styles.scss */
  .container-footer-subscribe-form {
    width: 100%;
  }
  /* line 613, ../sass/styles.scss */
  .container-footer-subscribe-form-input {
    width: 280px;
  }
  /* line 619, ../sass/styles.scss */
  .container-footer-tcopy {
    width: 260px;
    display: flex;
    align-items: flex-end;
    font-family: HelveticaBold;
    font-size: 12px;
    letter-spacing: .9px;
    line-height: 14px;
    opacity: .36;
  }
  /* line 632, ../sass/styles.scss */
  .container-footer-follow {
    width: 400px;
  }
  /* line 635, ../sass/styles.scss */
  .container-footer-follow-title {
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 641, ../sass/styles.scss */
  .container-footer-follow-blocks {
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }
  /* line 648, ../sass/styles.scss */
  .container-footer-follow-blocks-block:nth-child(3) {
    border-left: none;
    border-top: 2px solid #b4b4b4;
  }
}
@media screen and (min-width: 1280px) {
  /* line 660, ../sass/styles.scss */
  .container {
    position: relative;
    background-color: transparent;
  }
  /* line 668, ../sass/styles.scss */
  .container-animation-portrait-image {
    height: 434px;
    width: 360px;
    background-blend-mode: multiply;
    background-color: #baddf1;
    background-image: url("../vendor/images/designer.jpg");
    background-position: center;
    background-size: cover;
  }
  /* line 679, ../sass/styles.scss */
  .container-animation-portrait-description {
    width: 200px;
    margin-top: 12px;
    font-family: HelveticaLight;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 20px;
    text-align: left;
  }
  /* line 692, ../sass/styles.scss */
  .container-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
  }
  /* line 704, ../sass/styles.scss */
  .container-header {
    background: none;
  }
  /* line 707, ../sass/styles.scss */
  .container-header-title {
    z-index: -1;
    position: fixed;
    background-size: 50vw;
  }
  /* line 714, ../sass/styles.scss */
  .container-overview {
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: none;
    margin: 100vh 0 0 20%;
    box-sizing: border-box;
    padding: 145px 70px 145px 145px;
    background-color: #baddf1;
  }
  /* line 730, ../sass/styles.scss */
  .container-overview-text p {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 42px;
  }
  /* line 735, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: .1em;
  }
  /* line 741, ../sass/styles.scss */
  .container-overview-portrait {
    margin: 0 0 0 110px;
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  /* line 749, ../sass/styles.scss */
  .container-overview-portrait-fake {
    height: 486px;
    width: 360px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    visibility: hidden;
  }
  /* line 757, ../sass/styles.scss */
  .container-overview-portrait-movable {
    visibility: hidden;
    position: fixed;
    right: 0px;
    top: 50vh;
    transform: translateY(-50%);
  }
  /* line 764, ../sass/styles.scss */
  .container-overview-portrait-movable-image {
    height: 434px;
    width: 360px;
    background-position: center;
    background-size: cover;
  }
  /* line 772, ../sass/styles.scss */
  .container-overview-portrait-movable-description {
    width: 200px;
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 20px;
    text-align: left;
  }
  /* line 785, ../sass/styles.scss */
  .container-collection {
    box-sizing: border-box;
    padding: 165px 0;
    position: relative;
  }
  /* line 790, ../sass/styles.scss */
  .container-collection-title {
    width: auto;
    margin-bottom: 84px;
    color: #baddf1;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 798, ../sass/styles.scss */
  .container-collection-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto;
  }
  /* line 806, ../sass/styles.scss */
  .container-collection-images-image {
    margin: 57px 42px;
  }
  /* line 808, ../sass/styles.scss */
  .container-collection-images-image:nth-child(n) {
    display: inherit;
  }
  /* line 815, ../sass/styles.scss */
  .container-muses {
    z-index: 1;
    box-sizing: border-box;
    height: auto;
    padding: 100px 0 140px 0;
  }
  /* line 821, ../sass/styles.scss */
  .container-muses-title {
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 826, ../sass/styles.scss */
  .container-muses-slider {
    height: 65%;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  /* line 833, ../sass/styles.scss */
  .container-muses-slider > img {
    filter: grayscale(100%);
  }
  /* line 839, ../sass/styles.scss */
  .container-follow {
    z-index: -1;
    height: auto;
    padding: 225px 0 325px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    background: none;
  }
  /* line 850, ../sass/styles.scss */
  .container-follow-title {
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 854, ../sass/styles.scss */
  .container-follow-link {
    height: 140px;
    width: 388px;
    margin: 0 0 0 48px;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 864, ../sass/styles.scss */
  .container-stores {
    box-sizing: border-box;
    width: 87%;
    margin-left: 13%;
    padding: 150px 165px 180px 120px;
    background-color: #baddf1;
  }
  /* line 872, ../sass/styles.scss */
  .container-stores-title {
    width: auto;
    margin: 0;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 880, ../sass/styles.scss */
  .container-stores-zones {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  /* line 888, ../sass/styles.scss */
  .container-stores-zones-zone {
    margin: 0;
  }
  /* line 892, ../sass/styles.scss */
  .container-stores-zones-fake {
    display: none;
  }
  /* line 898, ../sass/styles.scss */
  .container-footer {
    max-width: 1110px;
    margin: 507px auto 0 auto;
    padding: 0 0 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: none;
  }
  /* line 908, ../sass/styles.scss */
  .container-footer-contacts {
    margin: 0;
    text-align: left;
  }
  /* line 913, ../sass/styles.scss */
  .container-footer-contacts-title {
    margin-bottom: 13px;
  }
  /* line 917, ../sass/styles.scss */
  .container-footer-contacts a {
    display: block;
  }
  /* line 922, ../sass/styles.scss */
  .container-footer-subscribe {
    width: 370px;
    margin: 0;
  }
  /* line 926, ../sass/styles.scss */
  .container-footer-subscribe-title {
    width: auto;
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 933, ../sass/styles.scss */
  .container-footer-subscribe-form {
    width: 100%;
  }
  /* line 936, ../sass/styles.scss */
  .container-footer-subscribe-form-input {
    width: 251px;
  }
  /* line 942, ../sass/styles.scss */
  .container-footer-follow {
    margin: 0;
  }
  /* line 945, ../sass/styles.scss */
  .container-footer-follow-title {
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 952, ../sass/styles.scss */
  .container-footer-copy {
    width: auto;
    margin: 133px 0 0 0;
    font-size: 12px;
    letter-spacing: .9px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  /* line 965, ../sass/styles.scss */
  .container-overview {
    padding: 100px 50px 100px 100px;
  }
  /* line 968, ../sass/styles.scss */
  .container-overview-portrait {
    margin: 0 0 0 50px;
  }
  /* line 971, ../sass/styles.scss */
  .container-overview-portrait-fake {
    height: 402px;
    width: 250px;
  }
  /* line 977, ../sass/styles.scss */
  .container-overview-portrait-movable-image {
    height: 350px;
    width: 250px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  /* line 991, ../sass/styles.scss */
  .container-overview-text p {
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: 1.25px;
  }
  /* line 996, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: .1em;
  }
  /* line 1002, ../sass/styles.scss */
  .container-overview-portrait {
    padding-top: 50%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1679px) {
  /* line 1012, ../sass/styles.scss */
  .container-overview-portrait {
    padding-top: 47.5%;
  }
}
