/* line 5, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: HelveticaCondensed;
  src: url(../vendor/fonts/HelveticaCondensed.otf);
}
@font-face {
  font-family: HelveticaLight;
  src: url(../vendor/fonts/HelveticaLight.ttf);
}
@font-face {
  font-family: HelveticaRoman;
  src: url(../vendor/fonts/HelveticaRoman.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(../vendor/fonts/HelveticaBold.ttf);
}
@font-face {
  font-family: PortraitCondensed;
  src: url(../vendor/fonts/PortraitCondensed.ttc);
}
/* line 64, ../sass/styles.scss */
body {
  background-color: #3b3b3b;
}

/* line 68, ../sass/styles.scss */
.container {
  background-color: #baddf1;
}
/* line 71, ../sass/styles.scss */
.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../vendor/images/bg_photo.jpg");
  background-position-x: -383px;
}
/* line 78, ../sass/styles.scss */
.container-header-title {
  height: 100%;
  width: 100%;
  background-image: url("../vendor/images/logo.svg");
  background-size: 75vw;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 88, ../sass/styles.scss */
.container-overview {
  max-width: 250px;
  margin: 62px auto 10px auto;
}
/* line 93, ../sass/styles.scss */
.container-overview-text p {
  font-family: HelveticaBold;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
}
/* line 99, ../sass/styles.scss */
.container-overview-text p:nth-child(2) {
  margin-top: 17px;
}
/* line 104, ../sass/styles.scss */
.container-overview-text-person {
  font-family: PortraitCondensed;
}
/* line 109, ../sass/styles.scss */
.container-overview-portrait {
  margin-top: 38px;
}
/* line 112, ../sass/styles.scss */
.container-overview-portrait-image {
  display: block;
  height: 350px;
  width: 250px;
  margin: 0 auto;
  background-blend-mode: multiply;
  background-color: #baddf1;
  background-image: url("../vendor/images/designer.jpg");
  background-position-x: -42px;
  background-size: 130%;
}
/* line 125, ../sass/styles.scss */
.container-overview-portrait-description {
  margin-top: 15px;
  font-family: HelveticaLight;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 20px;
  text-align: center;
}
/* line 137, ../sass/styles.scss */
.container-collection {
  padding: 120px 0;
}
/* line 140, ../sass/styles.scss */
.container-collection-title {
  width: 250px;
  margin: 0 auto 32px auto;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 148, ../sass/styles.scss */
.container-collection-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 153, ../sass/styles.scss */
.container-collection-images-image {
  height: 270px;
  width: 200px;
  margin: 17px 0;
}
/* line 158, ../sass/styles.scss */
.container-collection-images-image:nth-child(n+7) {
  display: none;
}
/* line 165, ../sass/styles.scss */
.container-muses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ef636e;
}
/* line 170, ../sass/styles.scss */
.container-muses-title {
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 176, ../sass/styles.scss */
.container-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../vendor/images/bg_photo.jpg");
  background-position-x: -220px;
}
/* line 183, ../sass/styles.scss */
.container-follow-title {
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 188, ../sass/styles.scss */
.container-follow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95px;
  width: 250px;
  margin: 11px auto 0 auto;
  box-sizing: border-box;
  border: 7px solid #ef636e;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #ef636e;
}
/* line 200, ../sass/styles.scss */
.container-follow-link:hover {
  background-color: #ffffff;
}
/* line 206, ../sass/styles.scss */
.container-stores {
  padding: 70px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 212, ../sass/styles.scss */
.container-stores-title {
  width: 250px;
  margin: 0 auto 9px auto;
  font-family: HelveticaCondensed;
  font-size: 60px;
  letter-spacing: 2.7px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}
/* line 221, ../sass/styles.scss */
.container-stores-zones-zone {
  margin-top: 40px;
}
/* line 224, ../sass/styles.scss */
.container-stores-zones-zone-title {
  color: #1d1d1d;
  font-family: HelveticaBold;
  font-size: 20px;
  letter-spacing: .8px;
  line-height: 24px;
}
/* line 232, ../sass/styles.scss */
.container-stores-zones-zone h6 {
  margin-top: 18px;
  font-family: HelveticaBold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}
/* line 241, ../sass/styles.scss */
.container-stores-zones-zone p {
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}
/* line 248, ../sass/styles.scss */
.container-stores-zones-zone a {
  display: block;
  color: #000000;
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}
/* line 257, ../sass/styles.scss */
.container-stores-zones-zone a:nth-child(1) {
  margin-top: 18px;
}
/* line 265, ../sass/styles.scss */
.container-footer {
  padding: 38px 0 20px 0;
  background-image: url("../vendor/images/bg_photo.jpg");
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
/* line 273, ../sass/styles.scss */
.container-footer-tcopy {
  display: none;
}
/* line 277, ../sass/styles.scss */
.container-footer-contacts {
  width: 250px;
  margin: 0 auto;
}
/* line 281, ../sass/styles.scss */
.container-footer-contacts-title {
  margin-bottom: 8px;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 287, ../sass/styles.scss */
.container-footer-contacts a, .container-footer-contacts p {
  color: #ffffff;
  font-family: HelveticaLight;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}
/* line 296, ../sass/styles.scss */
.container-footer-subscribe {
  margin-top: 63px;
}
/* line 299, ../sass/styles.scss */
.container-footer-subscribe-title {
  width: 225px;
  margin: 0 auto 23px auto;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 306, ../sass/styles.scss */
.container-footer-subscribe-form {
  box-sizing: border-box;
  height: 60px;
  width: 277px;
  margin: 0 auto;
  background-color: #fdf3f3;
  overflow: hidden;
}
/* line 315, ../sass/styles.scss */
.container-footer-subscribe-form-input {
  box-sizing: border-box;
  width: 158px;
  padding: 22px 0 22px 22px;
  background-color: rgba(253, 243, 243, 0);
  border: none;
  color: #000000;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 327, ../sass/styles.scss */
.container-footer-subscribe-form-input:focus {
  outline: none;
}
/* line 331, ../sass/styles.scss */
.container-footer-subscribe-form-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
}
/* line 334, ../sass/styles.scss */
.container-footer-subscribe-form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
/* line 337, ../sass/styles.scss */
.container-footer-subscribe-form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
/* line 340, ../sass/styles.scss */
.container-footer-subscribe-form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
/* line 345, ../sass/styles.scss */
.container-footer-subscribe-form-button {
  box-sizing: border-box;
  height: 60px;
  width: 115px;
  margin: 0;
  padding: 0;
  background-color: rgba(253, 243, 243, 0);
  border: none;
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: .9px;
}
/* line 359, ../sass/styles.scss */
.container-footer-subscribe-form-button:focus {
  outline: none;
}
/* line 366, ../sass/styles.scss */
.container-footer-follow {
  margin-top: 66px;
}
/* line 369, ../sass/styles.scss */
.container-footer-follow-title {
  font-family: HelveticaBold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}
/* line 373, ../sass/styles.scss */
.container-footer-follow-blocks {
  width: 268px;
  margin: 13px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* line 380, ../sass/styles.scss */
.container-footer-follow-blocks-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 48px;
  width: 134px;
  border: 2px solid #b4b4b4;
  font-family: HelveticaBold;
  font-size: 14px;
  letter-spacing: .9px;
}
/* line 393, ../sass/styles.scss */
.container-footer-follow-blocks-block:nth-child(2) {
  border-left: none;
}
/* line 397, ../sass/styles.scss */
.container-footer-follow-blocks-block:nth-child(3) {
  border-top: none;
}
/* line 404, ../sass/styles.scss */
.container-footer-copy {
  width: 225px;
  margin: 71px auto 0 auto;
  font-family: HelveticaBold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  opacity: .36;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* line 420, ../sass/styles.scss */
  .container-header {
    background-position: center;
    background-size: cover;
  }
  /* line 424, ../sass/styles.scss */
  .container-header-title {
    background-size: 60vw;
  }
  /* line 429, ../sass/styles.scss */
  .container-overview {
    max-width: none;
    margin: 145px 125px 0 125px;
  }
  /* line 434, ../sass/styles.scss */
  .container-overview-text p {
    font-family: HelveticaBold;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 42px;
  }
  /* line 440, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: 30px;
  }
  /* line 446, ../sass/styles.scss */
  .container-overview-portrait {
    width: 360px;
    margin: 60px auto 0 auto;
  }
  /* line 450, ../sass/styles.scss */
  .container-overview-portrait-image {
    height: 434px;
    width: 100%;
    background-blend-mode: normal;
    background-position: center;
    background-size: cover;
  }
  /* line 459, ../sass/styles.scss */
  .container-overview-portrait-description {
    width: 200px;
    margin-top: 7px;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: left;
  }
  /* line 470, ../sass/styles.scss */
  .container-collection {
    padding-top: 199px;
  }
  /* line 473, ../sass/styles.scss */
  .container-collection-title {
    width: 100%;
    margin-bottom: 70px;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 480, ../sass/styles.scss */
  .container-collection-images {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1040px;
    max-width: 860px;
    margin: 0 auto;
  }
  /* line 489, ../sass/styles.scss */
  .container-collection-images-image:nth-child(n+10) {
    display: inherit;
  }
  /* line 496, ../sass/styles.scss */
  .container-muses {
    height: auto;
    padding: 87px 0 211px 0;
  }
  /* line 500, ../sass/styles.scss */
  .container-muses-title {
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 506, ../sass/styles.scss */
  .container-follow {
    height: auto;
    padding: 120px 0;
    background-position-x: 0px;
  }
  /* line 512, ../sass/styles.scss */
  .container-follow-title {
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 516, ../sass/styles.scss */
  .container-follow-link {
    height: 140px;
    width: 388px;
    margin-top: 26px;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 525, ../sass/styles.scss */
  .container-stores {
    padding: 86px 125px 135px 125px;
  }
  /* line 528, ../sass/styles.scss */
  .container-stores-title {
    width: auto;
    margin-bottom: 44px;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 536, ../sass/styles.scss */
  .container-stores-zones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 542, ../sass/styles.scss */
  .container-stores-zones-zone {
    width: 178px;
    margin-top: 60px;
    text-align: left;
  }
  /* line 549, ../sass/styles.scss */
  .container-stores-zones-fake {
    height: 0px;
    width: 178px;
    margin: 0px;
  }
  /* line 557, ../sass/styles.scss */
  .container-footer {
    padding: 28px 125px 100px 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position-x: 0px;
  }
  /* line 567, ../sass/styles.scss */
  .container-footer > div {
    margin-top: 40px;
  }
  /* line 571, ../sass/styles.scss */
  .container-footer-copy {
    display: none;
  }
  /* line 575, ../sass/styles.scss */
  .container-footer-contacts {
    width: 260px;
    margin: 0;
    text-align: left;
  }
  /* line 581, ../sass/styles.scss */
  .container-footer-contacts-title {
    margin-bottom: 13px;
  }
  /* line 585, ../sass/styles.scss */
  .container-footer-contacts a {
    display: block;
  }
  /* line 590, ../sass/styles.scss */
  .container-footer-subscribe {
    width: 400px;
  }
  /* line 593, ../sass/styles.scss */
  .container-footer-subscribe-title {
    width: auto;
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 600, ../sass/styles.scss */
  .container-footer-subscribe-form {
    width: 100%;
  }
  /* line 603, ../sass/styles.scss */
  .container-footer-subscribe-form-input {
    width: 280px;
  }
  /* line 609, ../sass/styles.scss */
  .container-footer-tcopy {
    width: 260px;
    display: flex;
    align-items: flex-end;
    font-family: HelveticaBold;
    font-size: 12px;
    letter-spacing: .9px;
    line-height: 14px;
    opacity: .36;
  }
  /* line 622, ../sass/styles.scss */
  .container-footer-follow {
    width: 400px;
  }
  /* line 625, ../sass/styles.scss */
  .container-footer-follow-title {
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 631, ../sass/styles.scss */
  .container-footer-follow-blocks {
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }
  /* line 638, ../sass/styles.scss */
  .container-footer-follow-blocks-block:nth-child(3) {
    border-left: none;
    border-top: 2px solid #b4b4b4;
  }
}
@media screen and (min-width: 1280px) {
  /* line 650, ../sass/styles.scss */
  .container {
    position: relative;
    background-color: transparent;
  }
  /* line 654, ../sass/styles.scss */
  .container-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  /* line 669, ../sass/styles.scss */
  .container-header {
    background: none;
  }
  /* line 672, ../sass/styles.scss */
  .container-header-title {
    background-size: 50vw;
  }
  /* line 677, ../sass/styles.scss */
  .container-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: none;
    margin: 0;
    box-sizing: border-box;
    margin-left: 20%;
    padding: 145px 70px 345px 145px;
    background-color: #baddf1;
  }
  /* line 692, ../sass/styles.scss */
  .container-overview-text p {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 42px;
  }
  /* line 697, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: .1em;
  }
  /* line 703, ../sass/styles.scss */
  .container-overview-portrait {
    margin: 0 0 0 110px;
  }
  /* line 706, ../sass/styles.scss */
  .container-overview-portrait-image {
    height: 434px;
    width: 360px;
    background-position: center;
    background-size: cover;
  }
  /* line 716, ../sass/styles.scss */
  .container-collection {
    padding: 165px 0;
  }
  /* line 719, ../sass/styles.scss */
  .container-collection-title {
    width: auto;
    margin-bottom: 84px;
    color: #baddf1;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 727, ../sass/styles.scss */
  .container-collection-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto;
  }
  /* line 735, ../sass/styles.scss */
  .container-collection-images-image {
    margin: 57px 42px;
  }
  /* line 737, ../sass/styles.scss */
  .container-collection-images-image:nth-child(n) {
    display: inherit;
  }
  /* line 744, ../sass/styles.scss */
  .container-muses {
    height: auto;
    padding: 100px 0 140px 0;
  }
  /* line 748, ../sass/styles.scss */
  .container-muses-title {
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 754, ../sass/styles.scss */
  .container-follow {
    height: auto;
    padding: 225px 0 325px 0;
    display: flex;
    flex-direction: row;
    background: none;
  }
  /* line 763, ../sass/styles.scss */
  .container-follow-title {
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 767, ../sass/styles.scss */
  .container-follow-link {
    height: 140px;
    width: 388px;
    margin: 0 0 0 48px;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 777, ../sass/styles.scss */
  .container-stores {
    box-sizing: border-box;
    width: 87%;
    margin-left: 13%;
    padding: 150px 165px 180px 120px;
    background-color: #baddf1;
  }
  /* line 785, ../sass/styles.scss */
  .container-stores-title {
    width: auto;
    margin: 0;
    color: #232323;
    font-family: HelveticaCondensed;
    font-size: 90px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 793, ../sass/styles.scss */
  .container-stores-zones {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  /* line 801, ../sass/styles.scss */
  .container-stores-zones-zone {
    margin: 0;
  }
  /* line 805, ../sass/styles.scss */
  .container-stores-zones-fake {
    display: none;
  }
  /* line 811, ../sass/styles.scss */
  .container-footer {
    max-width: 1110px;
    margin: 507px auto 0 auto;
    padding: 0 0 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: none;
  }
  /* line 821, ../sass/styles.scss */
  .container-footer-contacts {
    margin: 0;
    text-align: left;
  }
  /* line 826, ../sass/styles.scss */
  .container-footer-contacts-title {
    margin-bottom: 13px;
  }
  /* line 830, ../sass/styles.scss */
  .container-footer-contacts a {
    display: block;
  }
  /* line 835, ../sass/styles.scss */
  .container-footer-subscribe {
    width: 370px;
    margin: 0;
  }
  /* line 839, ../sass/styles.scss */
  .container-footer-subscribe-title {
    width: auto;
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 846, ../sass/styles.scss */
  .container-footer-subscribe-form {
    width: 100%;
  }
  /* line 849, ../sass/styles.scss */
  .container-footer-subscribe-form-input {
    width: 251px;
  }
  /* line 855, ../sass/styles.scss */
  .container-footer-follow {
    margin: 0;
  }
  /* line 858, ../sass/styles.scss */
  .container-footer-follow-title {
    margin: 0 0 17px 0;
    text-align: left;
  }
  /* line 865, ../sass/styles.scss */
  .container-footer-copy {
    width: auto;
    margin: 133px 0 0 0;
    font-size: 12px;
    letter-spacing: .9px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  /* line 878, ../sass/styles.scss */
  .container-overview {
    padding: 100px 50px 300px 100px;
  }
  /* line 882, ../sass/styles.scss */
  .container-overview-text p {
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: 1.25px;
  }
  /* line 887, ../sass/styles.scss */
  .container-overview-text p:nth-child(2) {
    margin-top: .1em;
  }
  /* line 894, ../sass/styles.scss */
  .container-overview-portrait {
    margin: 0 0 0 50px;
  }
  /* line 897, ../sass/styles.scss */
  .container-overview-portrait-image {
    height: 350px;
    width: 250px;
    background-position: center;
    background-size: cover;
  }
}
